@use "./variables" as variables; // Import correct de variables.scss

/* GENERAL */

body {
  font-family: variables.$body-font;
}

.title {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

section {
  padding: 45px 0 80px 0;
}

section .heading {
  text-align: center;
  padding-bottom: 40px;
}

.divider {
  width: 100px;
  height: 2px;
  background-color: variables.$color-primary;
  margin: 0 auto 20px;
}

.white-divider {
  width: 100px;
  height: 2px;
  background: variables.$color-white;
  margin: 0 auto 20px;
}

.button1 {
  font-weight: bold;
  color: variables.$color-white;
  text-transform: uppercase;
  border: 1px solid variables.$color-white;
  padding: 18px 50px;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  margin-top: 20px;
  transition: all 0.3s ease-in 0s;
  background: transparent;

  &:hover {
    background: variables.$color-white;
    color: variables.$color-primary;
  }
}

.first-color {
  color: variables.$color-primary;
}

.second-color {
  color: variables.$color-white;
}

.hidden {
  visibility: hidden;
}
