@use "./variables" as variables; // Import correct de variables.scss

/* CONTACT */

#contact {
  background: variables.$color-primary;

  .heading {
    text-transform: uppercase;
  }

  &-form {
    font-size: 20px;
    color: variables.$color-white;
    padding: 20px;
    input[type="submit"] {
      margin: 40px auto 0;
      display: block;
    }
  }
  .form-control {
    height: 50px;
    font-size: 18px;
  }

  .comments {
    font-style: italic;
    font-size: 18px;
    color: variables.$color-white;
    height: 25px;
  }

  .thank-you {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
  }
}
