@use "./variables" as variables; // Import correct de variables.scss

/* HEADER */

.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  background: #4b6c73;
  letter-spacing: 2px;
  font-weight: bold;
  border-bottom: 1px solid variables.$color-white;
  &-nav {
    margin: 0 auto;
    text-align: center;
  }
  .nav-link {
    color: variables.$color-white !important;
    margin: 0 6px;
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: variables.$color-white;
      transition: width 1s ease;
      z-index: -1;
    }

    &:hover:before,
    &.active:before {
      width: 100%;
    }
    &:hover,
    &.active {
      color: variables.$color-primary !important;
    }
  }
}
