@use "./variables" as variables; // Import correct de variables.scss

/* SKILLS */

.skills {
  .heading {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
  }
}

.skills-container {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  color: #0c46b3;
}

.skills-content {
  text-align: center;
  flex: 1;
  color: #000;
}

.skills-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  color: #0c46b3;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  color: #0c46b3;
}

.skill:hover {
  transform: scale(1.1);
}

.skill i {
  font-size: 4rem;
  color: black;
}

.skill h4 {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: black;
}

.skills {
  background-color: #4b6c73;
}
